.swiper-slide {
    height: auto !important;
}

.tp-testimonial-item {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tp-testimonial-content {
    flex: 1;
}

.featured-item::before {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -98%;
    left: 0;
    content: "";
    background: var(--tp-theme-1);
    z-index: -2;
    border-radius: 15px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }